{% extends 'base.html' %}
{% block content %}
    <div>
        <div class='pt-3' id='hero-container'>
           {% include 'includes/search_form.html' %}
        </div>
        <div class='row container-fluid mt-3'>
            <div class='col-md-3 pt-5 d-flex justify-content-center mt-2'>
                {% include 'includes/category_list.html' %}
            </div>
            <div class='col-md-9'>
                <div class='d-flex justify-content-end'>
                    {% include 'includes/pagination.html' %}
                </div>
                {% if context['items'].items %}
                {% for item in context['items'].items %}
                   {% include 'includes/asset_card.html' %}
                {% endfor %}
                {% endif %}
                <div class='d-flex justify-content-center'>
                    {% include 'includes/pagination.html' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}