{% extends 'base.html' %}
{% block content %}
<div class='container col-md-4'>
    {% from 'account/_formhelper.html' import render_field %}
    <form method='POST' class='auth-forms'>
        <h4 class='form-title'>Créer un nouveau compte</h4>
        <dl>
            {{ render_field(form.username, class='form-control form-input',placeholder='ex: yoane80')}}
            {{ render_field(form.email, class='form-control form-input', placeholder='ex: yoane80@gmail.com')}}
            {{ render_field(form.password, class='form-control form-input')}}
        </dl>
        <input type='submit' class='btn btn-authentication' id='btnRegister' value='Créer compte'>
    </form>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class='alert alert-{{ category }}'>{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% endwith %}
</div>
{% endblock %}