{% extends 'base.html' %}
{% block content %}
<div class='container col-md-4'>
    {% from "auths/_formhelper.html" import render_field %}
    <form method='POST' class='auth-forms'>
      <h4 class='form-title'>Connexion as admin</h4>
      <dl>
        {{ render_field(form.login, class='form-control form-input', placeholder="Adresse e-mail ou Nom d'utilisateur") }}
        {{ render_field(form.password, class='form-control form-input') }}
      </dl>
      <p><input type=submit value="Connexion" class='btn btn-authentication'></p>
    </form>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class='alert alert-{{ category }}'>{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% endwith %}
</div>
{% endblock %}