* {}

nav.navbar {
    padding: 10px 5px 10px 5px;
    background-color: #874676;
    padding-left: 20px;
}

nav.navbar a.nav-link {
    font-size: 17px;
    line-height: normal;
    color: white;
    font-style: bold;
}

#bar-icon {
    color: white;
    margin: 0px;
}

.navbar-brand {
    color: white;
    font-size: 19px;
    font-weight: 600;
}

.navbar-brand:hover {
    color: white;
    margin-left: 0px;
}

#btnLogin {
    border: 1px solid white;
    color: white;
}

div#hero-container {
    height: 250px;
    width: 100%;
    background-repeat: no-repeat;
    background-image: url(https://www.doublesens.fr//modules/everpsblog/views/img/posts/post_image_28.jpg);

}

.item-name {
    font-size: 30px;
    font-weight: 300px;
    text-decoration: none;
    color: black;
}

.item-name:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.item-card-btn {
    border-radius: 10px;
}

.item-card {
    box-shadow: 0px 0px 10px #874676;
    margin-bottom: 20px;
}


a.item-card-btn {
    border-radius: 40px;
    border: 1px solid white;
    font-size: 20px;
}

.item-adress {
    font-size: 20px;
}

a.page-link {
    color: #874676;
}

/********* pagination style ********************************/
a.active-pagination {
    border: 1px solid #874676;
    background-color: #874676;
    color: white;
}



.item-description {
    font-size: 18px;
    margin: 8px 0 8px 0;
}

/************ Search forn *********************************/
#searchForm {
    margin-top: 50px;
}

#btnSearch {
    background-color: #874676;
    color: white;
    width: 150px;
}

/********** Registration form and login form *********************************/
input.btn-authentication {
    border: 1px solid #874676;
    background-color: #874676;
    color: white;
}

.auth-forms {
    margin: 45px 0px 0px 0px;
}

input.form-input {
    border: 1px solid black;
}

h4.form-title {
    font-weight: 600;
    margin-bottom: 25px;
}

#category_title {
    background-color: #874676;
    color: white;
}

li#category_title a {
    color: white;
    font-size: 19px;
}

li#category_title a:hover {
    text-decoration: none;
}

#category_title_icon {
    font-size: 19px;
}