<nav class='navbar navbar-expand-lg'>
    <a class="navbar-brand" href="#">LaViolette</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa-solid fa-bars" id='bar-icon'></i>
        <!--<span class="navbar-toggler-icon"></span>-->
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class='navbar-nav mr-auto'>
            <li class='nav-item'>
                <a class='nav-link' href="{{ url_for('app.index') }}">Acceuil </a>
            </li>
        </ul>
        <a href="{{ url_for('account.login_view') }}" class='btn btn-sm' id='btnLogin'>Connexion</a>
    </div>
</nav>